.popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 430px;
    height: 330px;
}



@media screen and (max-width: 530px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;

    }
}