.elements-grid__delete {
    background-image: url(../../../images/delete.svg);
    background-color: transparent;
    background-size: cover;
    width: 18px;
    height: 19px;
    position: absolute;
    margin: 20px 20px 243px 244px;
    border: none;
    cursor: pointer;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.elements-grid__delete:hover {
    opacity: 0.5;
}