.profile-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    color: white;
}

@media screen and (max-width: 879px) {
    .profile-main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}