.elements-grid__icon {
    background-image: url(../../../images/hearth.svg);
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.elements-grid__icon:hover {
    opacity: 0.5;
}