.profile__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    padding: 0;
    transform: translateY(-8px);
}

@media screen and (max-width: 880px) {
    .profile__text {
        font-size: 14px;
        line-height: 16.94px;
        max-width: 282px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 320px) {
    .profile__text {
        transform: translateY(-10px);

    }
}