.profile__pencil {
    min-width: 24px;
    min-height: 24px;
    background-image: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #FFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform: translate(1px, 3px);
}

.profile__pencil:hover {
    opacity: 0.6;
    cursor: pointer;
    
}

@media screen and (max-width: 320px) {
    .profile__pencil {
        min-width: 18px;
        min-height: 18px;
        transform: translate(15px, -4px);
    }
}


