.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 880px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

@media screen and (max-width: 879px) {
    .footer {
        margin-top: 48px;
        max-width: 282px;
        padding-bottom: 36px;
    }
}