.profile__plus {
    min-width: 150px;
    min-height: 50px;
    margin: 0 0 0 auto;
    padding: 0;
    border: 2px solid #FFF;
    border-radius: 2px;
    background-image: url(../../../images/Vector2.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-5px);
}

.profile__plus:hover {
    opacity: 0.6;
    cursor: pointer;
}


@media screen and (max-width: 880px) {
    .profile__plus {
        margin: 36px auto 0;
        min-width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .profile__plus {
        transform: translateY(-14px);
        background-image: url(../../../images/Vector-320.svg);
    }
}