/*normalize*/
@import url(../vendor/normalize.css);
/*шрифты*/
@import url(../vendor/fonts/fonts.css);
/*body*/
@import url(../blocks/body/body.css);
/*page*/
@import url(../blocks/page/page.css);
/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__pencil/profile__pencil.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__plus/profile__plus.css);
/*cards*/
@import url(../blocks/cards/cards.css);
/*card*/
@import url(../blocks/card/card.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/card/__button/card__button.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/*popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__forms/popup__forms.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__form/_type/popup__form_type_invalid.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__save/_type/popup__save_type_invalid.css);
@import url(../blocks/popup/_overlay/popup_overlay.css);
@import url(../blocks/popup/__card/popup__card.css);
@import url(../blocks/popup/__photo/popup__photo.css);
@import url(../blocks/popup/__image-name/popup__image-name.css);