.profile__info {
    max-width: 336px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    align-items: center;
    gap: 16px 18px;
    margin: 0 0 0 30px;
    padding: 0;
    box-sizing: border-box;
    color: white;
    outline: 1px solid yellow;
}