.card__like {
    min-width: 22px;
    max-height: 19px;
    border: none;
    background-color: transparent;
    flex-shrink: 0;
    padding: 0;
}

.card__like:hover {
    opacity: 0.6;
    cursor: pointer;

}
.card__like:focus {
    background-image: url(./images/like-active.png);

}
