.card__info {
    max-width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 15px 31px 21px;
    color: black;
    outline: 1px solid yellow;

}